.Footop-newsletter {
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 56px;
    margin-bottom: 39px;
    background-color: white!important;
    padding: 66px 0 40px;
}

.Footop-title {
    margin-bottom: 2rem;
    margin-top: -3rem;
    
}

.Footop-title h5 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px !important;
    margin-bottom: 50px;
    text-transform: uppercase !important;
    color: black !important;
    letter-spacing: 1.5px !important;

}

input[type="text"] {
    color: #b4b4b4;
    height: 47px;
    padding: 0 0 0 20px;
    background: #fff;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    box-shadow: none;
}

input[type=text] {
    webkit-box-sizing: border-box;
    box-shadow: none;
    box-sizing: border-box;
    color: #9097a1;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    width: 100%;
    border: 1px solid #eceef4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.bgcolor {
    background-color: black!important;
}

input[type="submit"] {
    margin-top: 30px;
    border: 1px solid black;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    padding: 0 29px;
    text-transform: uppercase;
    background: none;
    border-radius: 4px;
    line-height: 45px;
    background-color: rgb(128, 128, 128);
}