{% load staticfiles %}
<html>


<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="profile.html">Profile <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="index2.html">Add Status</a>
                </div>
            </div>
        </nav>
</head>

<body>
    <div class="Footop-newsletter">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="Footop-title">
                        <h5 id="textheader">Please tell us what you feel</h5>
                        
                    </div>
                    <!-- <input type="text" id="mc_email1" class="field-input" name="mc_email" placeholder=" Please type..."> -->
                    <!-- <input class="subscribe-btn bgcolor" id="btn_newsletter_1" type="submit" value="Submit"> -->
                    <form class="box" method="POST" action="{% url 'story6:add_status' %}">
                        {% csrf_token %}
                        {{ status.status }}
                        <!-- <button type="submit"  class="subscribe-btn bgcolor" id="btn_newsletter_1" ><i class="fas fa-share">SUBMIT</i> -->

                        <button type="submit" id="submitbtn" class="btn-lg bg-dark" style="background-color: black; color: white;" ><i>SUBMIT</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <div style="padding-top: 300px"></div>
    <h1 style="margin-left: 43%"> Your Status</h1>
    <div style="padding-bottom: 40px"></div>
    {% for item in events %}
    <div class="card shadow" style="margin-left:41%; width: 18rem; border-radius: 32px; padding:15px; margin-bottom:32px;">
        <div class="card-body">
            <h3 class="card-title"> {{item.forms}} </h3>
            <a href="/story6/delete/1" class="btn btn-primary">delete</a>
        </div>
    </div>
{% endfor %}

</body>

</html>