{% load static %}
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link type="text/css" rel="stylesheet" href="{% static 'static/profile.css' %}">
    <!-- ------------------------------ -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="profile.html">Profile <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="index2.html">Add Status</a>
            </div>
        </div>
    </nav>

</head>

<body>
    <div class="profile">
        <p>my name is Muhammad Rizal Alfaridzi, now currently i'm studying computer science</p>
    </div>
    <button class="accordion">Prestasi</button>
    <div class="panel">
        <p>Belom ada
            TAPI
            jangan bersedih hati
            karna masih ada 2 tahun lagi
            untuk saya berprestasi
        </p>
    </div>

    <button class="accordion">Keinginan</button>
    <div class="panel">
        <p>Bercita - cita menjadi programmer</p>
    </div>

    <button class="accordion">Harapan</button>
    <div class="panel">
        <p>Semoga bisa lulus dari fasilkom</p>
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>

</body>

</html>