{% extends "index1.html" %}
{% block content %}
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <title>
        Create Your Schedule !
    </title>
    <body>
        <div class="regisbox">
            <h1>
                Create Your Schedule !
            </h1>
            {% comment %} {{schedule_form.as_p}} {% endcomment %}

            <form method="POST" action="{% url 'story4:add_schedule' %}">
            {% csrf_token %}
            <div class="textbox">
                <i class="fas fa-plane-departure"></i>
                {{schedule_form.activity}}
                {% comment %} <input type="text" placeholder="Activity Name" name="activity" value="" required> {% endcomment %}
            </div>
            <div class="textbox">
                <i class="far fa-calendar"></i>
                {{schedule_form.datetime}}
                {% comment %} <input type="datetime-local" name="datetime" value=""> {% endcomment %}
            </div>
            <div class="textbox">
                <i class="far fa-clock"></i>
                {{schedule_form.time}}
            </div>
            <div class="textbox">
                <i class="fas fa-map-marker-alt"></i>
                {{schedule_form.locations}}
                {% comment %} <input type="text" name="location" value="" placeholder="Location" required> {% endcomment %}
            </div>
            <div class="textbox">
                <i class="fas fa-exclamation"></i>
                {{schedule_form.category}}
                {% comment %} <input type="text" placeholder="Category" name="category" value="" required> {% endcomment %}
            </div>
        <button class="btn btn-outline-secondary btn-lg " aria-pressed="true" style="padding-top:3px;" type="submit">Register</a>
        </div>
    </form>
    </body>
    
</html>
{% endblock %}