<html>
{% load staticfiles %}

<head>
    <link rel="stylesheet" href="{% static '/css/indexstyle.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Rizal Alfaridzi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'story4:index1' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'story4:register' %}">Sign Up</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="firstpage">
        <div class="borderfirstpage">
            <img src="https://i.imgur.com/7Srhivv.png" width="96" height="95">
        </div>

        <div class="text1">
            <p id="contacts" class="textprofile" style="font-size: 30px ; margin-bottom: 10rem">
                for further information about me, you can reach me at:
            </p>

            <p style="font-size: 20px ; margin-bottom: 5rem">Whatsapp : 082210512781</p>
            <p style="font-size: 20px ; margin-bottom: 5rem">LINE : rzlalfrdzi</p>
            <p style="font-size: 20px ; margin-bottom: 5rem">Instagram : rzlalfrdzi</p>
        </div>
    </div>

</body>

</html>