<html>
{% load staticfiles %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/indexstyle.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Rizal Alfaridzi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'story4:index1' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'story4:register' %}">Sign Up</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    
    <div class="firstpage">
        <div class="borderfirstpage">
            <img src="http://www.vorderzelg.ch/wp-content/uploads/2017/03/fav.png" width="96" height="95">
        </div>

        <div class="text1">
            <p style="font-size:20px ; margin-bottom: 5rem">My Education Background and Commitee : </p>
            <p id="edu" class="textprofile" style="margin-bottom: 4rem ; font-size: 20px">
                High School : SMA Islam Terpadu Nurul Fikri
            </p>

            <p style="margin-bottom: 4rem ; font-size: 20px">College : University of Indonesia</p>

            <p style="margin-bottom: 5rem ; font-size: 20px">--------------------------------------------------------</p>

            <p style="margin-bottom: 4rem ; font-size: 20px">COMPFEST X 2018 : STAFF OF STAGE DIVISION</p>

            <p style="font-size: 20px">Open House Fasilkom UI 2018 : STAFF OF THE EVENT DIVISION</p>

        </div>
</body>

</html>