{% extends "index1.html" %}
{% block content %}
{% load staticfiles %}

<div class="row">
        <div></div>
        <div class="profpic" ; padding: 3rem>
            <img src="https://i.imgur.com/l0tEg2H.jpg"  class="image--cover">
        </div>
    </div>
    <div id="nama-atas" align="center" class="nama">
        <p>Muhammad Rizal Alfaridzi</p>
    </div>
    <div id="main" class="main">
        <a class="iconhome" href="{% url 'story4:about' %}"><img type="image" src="https://i.imgur.com/Gpvcv9U.png"
                width="72px" height="75px" href="#"></a>

        <a class="iconhome" href="{% url 'story4:contacts' %}"><img type="image" src="https://i.imgur.com/j2Sn4wN.png"
                width="72px" height="75px"></a>

        <a class="iconhome" href="{% url 'story4:education' %}"><img type="image" src="https://i.imgur.com/QY869nI.png"
                width="75px" height="75px"></a>
    </div>

{% endblock %}