<html>
{% load staticfiles %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/register.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>
<title>
    Sign Up
</title>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Rizal Alfaridzi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'story4:index1' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'story4:register' %}">Sign Up</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="regisbox">
        <h1>
            Register
        </h1>
        <div class="textbox">
            <i class="far fa-user"></i>
            <input type="text" placeholder="Name" name="" value="">
        </div>
        <div class="textbox">
            <i class="far fa-calendar"></i>
            <input type="date" name="" value="">
        </div>
        <div class="textbox">
            <i class="far fa-envelope"></i>
            <input type="email" name="" value="" placeholder="Email">
        </div>
        <div class="textbox">
            <i class="fas fa-at"></i>
            <input type="text" placeholder="Username" name="" value="">
        </div>
        <div class="textbox">
            <i class="fas fa-key"></i>
            <input type="password" placeholder="Password" name="" value="">
        </div>
        <div class="textbox">
            <i class="fas fa-unlock"></i>
            <input type="password" placeholder="Retype Password" name="" value="">
        </div>
        <a href="#" class="btn btn-outline-secondary btn-lg " role="button" aria-pressed="true" style="padding-top:3px;">Regsiter</a>
    </div>
</body>

</html>