{% extends "index1.html" %} {% block content %} {% load staticfiles %}

<head> 
<title> Your Schedule</title>
<link rel="stylesheet" href="{% static 'css/background.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<div style="padding: 100px;">
<h1> MY SCHEDULE </h1>
<div style="margin-top:34px;">
{% for item in schedule %}
    <div class="card shadow" style="width: 18rem; border-radius: 32px; padding:15px; margin-bottom:32px;">
        <div class="card-body">
            <h2 class="card-title">    {{item.activity}} </h3>
            <h4 class="card-subtitle mb-2 text-muted">{{item.datetime}}<br>
            <i class="fas fa-map-marker-alt"></i> {{item.locations}} <br>
            <i class="far fa-clock"></i>{{item.time}} <br>
            <i class="fas fa-exclamation"></i> {{item.category}}
            </h5> 
    {% comment %} <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> {% endcomment %}
        </div>
    </div>
{% endfor %}
</div>
</div>

</body>

{% endblock %}