@media screen and (min-width: 800px) {
    body {
        background-attachment: fixed;
        background-color: #FFFFFF;

    }

    .image--cover {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    }



    .nama {
        word-spacing: 3px;
        font-size: 60px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }


    .iconhome {
        padding: 5rem;
    }

    .nama-atas {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        object-position: center center;
        padding: 2rem;
    }

    .main {
        justify-content: center;
        display: flex;

    }

    .icon1 {
        /*padding: 200px;*/
        float: left;
        width: 33%;
    }

    .aboutus {
        border-radius: 85px;
        position: absolute;
        left: 300px;
        top: 600px;
        object-position: center center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* .icon2{
    padding: 300px;
    float: left;
    width: 33%;
} */

    .phoneimage {
        position: absolute;
        left: 800px;
        top: 600px;
        height: auto;
        object-position: center center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* .icon3{
    float: left;
    width: 33%;
} */

    .firstpage {
        content: "";
        display: flex;
        height: 100%;
        clear: both;

    }

    .educationicon {
        position: absolute;
        left: 1300px;
        top: 600px;
        height: auto;
        object-position: center center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .borderfirstpage {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        width: 20%;
        float: left;
        height: 100%;
        top: 20%;
    }


    .text1 {
        padding: 1rem;
        float: left;
        bottom: 30%;
        background-color: rgb(216, 210, 210);
        width: 70%;
        height: 100%;
        font-size: 40px;
        text-align: justify;
        letter-spacing: 1.5px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }

    .firstpage {
        padding: 2rem;
        margin-top: 10%;
    }

    .contacticon {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        float: left;
        height: 100%;
        top: 20%;
    }

    #contacttext {
        padding: 1rem;
        float: left;
        bottom: 30%;
        background-color: rgb(216, 210, 210);
        width: 70%;
        height: 100%;
        font-size: 27px;
        text-align: justify;
        letter-spacing: 1.5px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }


    img {
        width: 100px;
        height: 100px;
    }

    .container {
        position: absolute;
        transition: .5s ease;
        top: 50%;
        left: 50%;

    }
}



@media screen and (max-width: 300px) {
    body {
        background-attachment: fixed;
        background-color: #FFFFFF;

    }

    .image--cover {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    }

    .nama {
        word-spacing: 3px;
        font-size: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }


    .iconhome {
        padding: 2rem;
    }

    .nama-atas {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        object-position: center center;
        padding: 2rem;
    }

    .main {
        justify-content: center;
        display: flex;

    }

    .icon1 {
        /*padding: 200px;*/
        float: left;
        width: 33%;
    }

    .aboutus {
        border-radius: 85px;
        position: absolute;
        left: 300px;
        top: 300px;
        object-position: center center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* .icon2{
        padding: 300px;
        float: left;
        width: 33%;
    } */

    .phoneimage {
        position: absolute;
        left: 300px;
        top: 300px;
        height: auto;
        object-position: center center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* .icon3{
        float: left;
        width: 33%;
    } */

    .firstpage {
        content: "";
        display: flex;
        height: 100%;
        clear: both;

    }

    .educationicon {
        position: absolute;
        left: 450px;
        top: 300px;
        height: auto;
        object-position: center center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .borderfirstpage {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        width: 20%;
        float: left;
        height: 100%;
        top: 20%;
    }


    .text1 {
        padding: 1rem;
        float: left;
        bottom: 30%;
        background-color: rgb(216, 210, 210);
        width: 70%;
        height: 100%;
        font-size: 20px;
        text-align: justify;
        letter-spacing: 1.5px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }

    .firstpage {
        padding: 2rem;
        margin-top: 10%;
    }

    .contacticon {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        float: left;
        height: 100%;
        top: 20%;
    }

    #contacttext {
        padding: 1rem;
        float: left;
        bottom: 30%;
        background-color: rgb(216, 210, 210);
        width: 70%;
        height: 100%;
        font-size: 27px;
        text-align: justify;
        letter-spacing: 1.5px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }


    img {
        width: 100px;
        height: 100px;
    }

    .container {
        position: absolute;
        transition: .5s ease;
        top: 50%;
        left: 50%;
    }
}