@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body
{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.regisbox
{
    width: 280px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: black;
}

.regisbox h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #c4c4c4;
    margin-bottom: 50px;
    padding: 3px 0
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #c4c4c4;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color:#c4c4c4;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.textbox date{
    color: black;
}