{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>story 9 rizal</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style9.css' %}">
	<script src="{% static 'js/script9.js' %}"></script>

	
</head>

<body style="background-color:whitesmoke">


	<center>
		<h1>WELCOME !</h1>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
		 crossorigin="anonymous">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-md-8">
					<div class="card card-md">
						<div class="card-body row no-gutters align-items-center">
							<div class="col-auto">
								<i class="fas fa-search h4 text-body"></i>
							</div>
							<!--end of col-->
							<div class="col">
								<input class="form-control form-control-md form-control-borderless" type="search" id="search-query" placeholder="Search topics or keywords">
							</div>
							<!--end of col-->
							<div class="col-auto">
								<button id="submit-button" class="btn btn-md btn-success" style="background-color: black" type="button">Search</button>
							</div>
							<!--end of col-->
						</div>
					</div>
				</div>
				<!--end of col-->
			</div>
		</div>

		<button class="btn btn-primary" type="submit" style="background-color:black ; margin-top: 1rem" href= '{% url "login" %}' >Sign In</button>
		<button class="btn btn-primary" type="submit"style="background-color:black ; margin-top: 1rem">Sign Up</button>
	
		<div class="container-fluid h-100">
			<div class="row h-100 justify-content-center align-items-center">
				<div class="col-sm-11">
					<div class="row">
						<br><br>
						<div class="col-md-12">
							<text style="font-size:2rem ; margin-top: 15px ">Favourites:</text>
							<text id="counter" style="font-size:2rem">0</text>
						</div>
					</div>
					<div class="roundedrec" style="margin-bottom:5%;">
						<div class="insiderec">
							<div class="table-responsive">
								<table class="tabell">
									<thead class="thead-dark">
										<tr class="table">
											<th scope="col" id="nama" class="align-middle">No</th>
											<th scope="col" class="align-middle">Title</th>
											<th scope="col" class="align-middle">Authors</th>
											<th scope="col" class="align-middle">Publisher</th>
											<th scope="col" class="align-middle">Published Date</th>
											<th scope="col" class="align-middle">Cover</th>
											<th scope="col" class="align-middle">Add to Favourite</th>
										</tr>
									</thead>
									<tbody class="book-list">
								
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</center>

</body>