
{% load static %}

<!DOCTYPE html>
<html>
      
  <head>
    <title>log in</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style9.css' %}">
      <script src="{% static 'js/js9.js' %}"></script>
      
    <style>
    body{
        background-size: cover;
        background-attachment: fixed;
        background-color: #dbdac0;
        margin-top: 15%;
    }
    
    h2{
      text-decoration: underline;
    }
    </style>

  </head>

  <body>
    <center>
      {% block content %}
          <h2>Login here!</h2>
          <br>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button-login">Login</button>
          </form>
           <br>
          <p><strong>-- OR --</strong></p>
          <a href="{% url 'social:begin' 'google-oauth2' %}" class="google-login">Login with Google</a><br>
      {% endblock %}
    </center>
  </body>
</html>
