body{
	background-size: cover;
    background-attachment: fixed;
    background-color: black;

}	


/* loader */
.loader {
	position: absolute;
	left: 50%;
	margin: 0 0 0 -45px;
	border: 10px solid #f3f3f3;
	border-top: 10px solid black;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	animation: spin 1s ease-in-out infinite;
  }
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  

.tabell{
	width: 80%;
	font-size: 1vw ; 
		font-family:'Raleway', sans-serif;
		align-content: center; 
		align-items: center; 
		text-align: center;
}

h1{
	font-size: 5rem; 
	margin-top: 5%;
	font-family:'Raleway', sans-serif;
}

text{
	font-family:'Raleway', sans-serif;	
}
